[submodule "deps/3rdparty/openssl"]
	path = deps/3rdparty/openssl
	url = https://jjones.visualstudio.com/DefaultCollection/IPASimulator/_git/openssl
    branch = port
[submodule "deps/3rdparty/zlib"]
	path = deps/3rdparty/zlib
	url = https://jjones.visualstudio.com/DefaultCollection/IPASimulator/_git/zlib
    branch = port
[submodule "deps/3rdparty/libobjc2"]
	path = deps/3rdparty/libobjc2
	url = https://jjones.visualstudio.com/DefaultCollection/IPASimulator/_git/libobjc2
    branch = port
[submodule "tools/vsimporter/third-party/PlistCpp"]
	path = tools/vsimporter/third-party/PlistCpp
	url = https://jjones.visualstudio.com/DefaultCollection/IPASimulator/_git/PlistCpp
    branch = port
[submodule "tools/vsimporter/third-party/sole"]
	path = tools/vsimporter/third-party/sole
	url = https://jjones.visualstudio.com/DefaultCollection/IPASimulator/_git/sole
    branch = port
